:root {
  --main-title-color: #fff;
  --second-title-color: #212121;
  --third-title-color: #2196f3;
  --description-color: #757575;
  --white-title-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
link,
a {
  text-decoration: none;
  cursor: pointer;
}
.button {
  cursor: pointer;
}

.header-item {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
}
.header-titles {
  display: flex;
  margin-left: auto;
}
.header-titles-2 {
  display: flex;
  margin-left: auto;
}
.email {
  color: var(--third-title-color);
}
.header-list-item {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 50px;
}
.header-list-item-2 {
  margin-right: 50px;
  display: flex;
  align-items: baseline;
}
.header-list-item-3 {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.style-studio-name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}
.section-space {
  padding-top: 200px;
  padding-bottom: 200px;
}
.effective-decisions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.studio-name {
  color: var(--third-title-color);
}
.color-studio-name {
  color: var(--second-title-color);
}
.studio {
  color: var(--third-title-color);
}
.portfolio {
  color: var(--second-title-color);
}
.header-phone {
  color: var(--description-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-description {
  display: flex;
}
.section-about-description {
  padding-bottom: 0;
}

.description-element {
  display: block;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.title-description {
  padding-top: 30px;
}
.icon-1 {
  display: block;
  width: 65px;
  height: 70px;
  padding-top: 25px;
}

.description-element:not(:last-child) {
  margin-right: 30px;
}
.about-our-decisions {
  background: #2f303a;
}

.big-title {
  color: var(--white-title-color);
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
}

.button {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--white-title-color);
  background: #2196f3;
  width: 200px;
  height: 50px;
}

.article-about-us-1 {
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-description {
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.article-about-us-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-possibilities {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 2%;
  color: var(--second-title-color);
}
.photo {
  max-width: 270px;
  max-height: 430px;
  background: var(--white-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.what-are-we-doing,
.what-are-we-doing-list {
  display: flex;
  justify-content: center;
}
.what-are-we-doing {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  margin-bottom: 50px;
}
.photo-elements:not(:last-child) {
  margin-right: 30px;
}
.section-our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.out-team-section {
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-photos {
  background: #f5f4fa;
}
.our-team-list {
  display: flex;
  justify-content: center;
}
.photo:not(:last-child) {
  margin-right: 30px;
}
.our-team-space {
  padding-top: 30px;
  margin-bottom: 30px;
}

.our-team-profesionals {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-profesionals-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
}
.social-link-icon {
  width: 44px;
  height: 44px;
}
.icon-team-1 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.about-us {
  background-color: #2f303a;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/Img.17.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-our-clients {
  font-family: "Roboto";
  font-size: 700;
  line-height: 42, 19px;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.our-clients {
  display: flex;
}

.our-clients-elements {
  display: inline-block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
}
.our-clients-elements-icon {
  width: 106px;
  height: 60px;
}

.footer-place {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.footer-contacts {
  margin-top: 9px;
}
.our-name {
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.our-adress {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--white-title-color);
}
.our-male {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.our-phone {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.studio-name-1 {
  color: var(--main-title-color);
}
.studio-name-2 {
  color: var(--main-title-color);
}
.adress {
  color: var(--main-title-color);
}
.portfolio-item-name {
  color: var(--description-color);
}
.color-portfolio {
  color: var(--third-title-color);
}
.portfolio-header-section {
  border: 1px solid #ececec;
}
.color-for-background {
  background-color: #2f303a;
}
.portfolio-filer {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  background: #f5f4fa;
}
.header-list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.footer-contacts {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.our-tell {
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-list {
  display: flex;
  justify-content: center;
}

.portfolio-list-elements {
  text-align: center;
  background: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 4px;
  box-sizing: border-box;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.space-for-button {
  margin-bottom: 56px;
}
.portfolio-elemnts-icon {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
}

.title-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;

  background: #ffffff;
}
.portfolio-item-name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
}
.portfolio-list-images {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.portfolio-list-description {
  padding-top: 20px;
}

.space {
  margin-right: 30px;
}
.space-for-elements {
  margin-bottom: 30px;
}
